<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- En los input hay que poner esto para que actualice el valor, este es el que manda -->
    <input type="text" value="{{nombre::input}}"/>

    <!-- Notifica a ambos, independientemente que esté con llaves o corchetes -->
    <h2>Soy {{nombre}} [[apellidos]]</h2>
    <h2>Soy [[nombre]] [[apellidos]]</h2>

    <!-- <input type="Number" min="18"  max="24" value="{{edad::input}}"/> -->
    <input type="range" min="18"  max="24" value="{{edad::input}}"/>
    <h3>y tengo [[edad]] años</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          nombre: {
            type: String,
          },
          apellidos: {
            type: String,
          },
          edad: {
            type: Number,
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
