<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/lib/elements/dom-if.html">

<dom-module id="emisor-app">
  <template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>


    <p>
      <h1>Soy el emisor</h1>
      <button on-click="enviarEvento">Púlsame</button> <br><br>
    </p>

  </template>

  <script>
    /**
     * `emisor-app`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EmisorApp extends Polymer.Element {
      static get is() { return 'emisor-app'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
          },
          cierto: {
            type: Boolean,
            value: false,
          },
          cuentas: {
            type: Array,
            value: [],
          }
        };
      }


      // Este es método que va a disparar el evento
      enviarEvento(e){
        console.log("*** --> Alguien ha pulsado el botón")
        console.log(e)
        this.dispatchEvent(new CustomEvent("mievento", {"detail":{"curso":"Techu", "anno":2018}}))

      }

    }

    window.customElements.define(EmisorApp.is, EmisorApp);
  </script>
</dom-module>
