<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="hacerLogin"
      url="http://localhost:4000/apitechu/V5/usuarios/login"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError">
    </iron-ajax>

    <h2 align="center">
      e-mail: <input id="campo_mail" type="email" value={{email::input}} /> <br>
      clave: <input id="campo_clave" type="password" value={{password::input}} /> <br>
      <button on-click="armarInvocacion">Login</button>
      <span hidden$={{!logado}}>Bienvenido de NUEVO</span>
    </h2>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: "bvonbrookr0@instagram.com"
          },
          password: {
            type: String,
            value: "uIxevkn8eA7"
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }


      // Este es método que va a disparar el evento
      enviarEventoLoginExito(datosLogin){
        console.log("*** --> Alguien ha pulsado el botón")
        console.log(datosLogin)
        this.dispatchEvent(new CustomEvent("eventologin", {"detail":{"login":"OK"}}))
        }

      mostrarResultadoLogin(datos) {
        console.log("4. Llegaron los resultados del login")
        console.log(datos)
        console.log("5. Proceso los resultado")
        this.logado = true

        this.enviarEventoLoginExito(datos)
      }

      // Este es método que va a armar la llamada al API informando los headers
      armarInvocacion(){

        console.log("1. El usuario ha pulsado el botón")
        // this.$ es el shadow DOM
        this.$.hacerLogin.headers.mail = this.email
        this.$.hacerLogin.headers.clave = this.password
        console.log("2. Voy a enviar la petición de login "+this.email+"|"+this.password)
        console.log("Dentro de la clase: "+this.$.hacerLogin.headers.mail)
        this.$.hacerLogin.generateRequest()
        console.log("3. Petición de login enviada")

      }

    mostrarError(error){
      console.log("Llega el error")
      console.log(error)
      this.logado = false

      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
