<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="visor-cuentas">
  <template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>


<!--
    <p>
      ID Cliente: <input type="text" value={{idcliente::input}} />
      <button on-click="armarInvocacion">Pedir Cuentas</button> <br><br>
    </p>
-->


    <iron-ajax
      id="obtenerCuentas"
      url="http://localhost:4000/apitechu/V5/cuentas?idcliente={{idcliente}}"
      handle-as="json"
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas">
    </iron-ajax>

    <div class="row">
      <template is="dom-if" if="{{cierto}}" restamp>
        <h4 class="col-4">Se han recuperado las cuentas</h4>
      </template>
        <table class="table table-striped">
             <thead>
               <th>Indice</th>
               <th>IBAN</th>
             </thead>
             <tbody>
               <template is="dom-repeat" items="{{cuentas}}">
                 <tr>
                   <td>{{index}}</td>
                   <td>{{item.iban}}</td>
                   <td>
                     <a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver Movimientos</a>
                   </td>
                 </tr>
               </template>
             </tbody>
           </table>

<!--
      <template is="dom-repeat" items="{{cuentas}}">
        <span>{{item.iban}} <a class="btn btn-info" href="/movimientos/[[item.iban]]"> Ver movimientos </a>   <br></span>
      </template> -->
    </div>


  </template>

  <script>
    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
          },
          cierto: {
            type: Boolean,
            value: false,
          },
          cuentas: {
            type: Array,
            value: [],
          }
        };
      }

      mostrarCuentas(resultado) {
        //console.log(resultado.detail.response)
        //console.log(resultado.detail.response[0].iban)
        this.cuentas=resultado.detail.response
        this.cierto = true
        console.log(this.cuentas.length)
        console.log("cierto vale "+this.cierto)

      }
      mostrarErrorCuentas(error) {
        console.log(error.detail.response)
        this.cierto = false
        this.cuentas = []
      }

      pintarCuentas(e) {
        this.$.obtenerCuentas.generateRequest()
        console.log("------->>>>> Pinto cuentas gracias al EVENTO")
      }


      // Este es método que va a armar la llamada al API informando los headers
      armarInvocacion(){

        this.$.obtenerCuentas.generateRequest()
        console.log("------->>>>> Petición de cuentas enviada")

      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
