<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax auto=""
      id="obtenerUsuario"
      url="http://localhost:4000/apitechu/V5/usuarios/{{id}}"
      handle-as="json"
      on-response="mostrarDatos">
    </iron-ajax>
    <div class="row">
      <h1 class="col-4">{{nombre}}</h1>
      <h2 class="col-4">{{apellido}}</h2>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number,
          },
          nombre: {
            type: String,
          },
          apellidos: {
            type: String,
          },
          pais: {
            type: String,
          }
        };
      }

      mostrarDatos(datos) {
        console.log(datos.detail.response.id)
        console.log(datos.detail.response.first_name)
        console.log(datos.detail.response.last_name)

        this.nombre = datos.detail.response.first_name
        this.apellidos = datos.detail.response.last_name


        // document.body.innerHTML=datos.detail.response.first_name + " "+ datos.detail.response.last_name

      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
