<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">

<dom-module id="padre-app">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }

      :host {
        display: block;
      }
    </style>
    <h1>PADRE</h1>


    <login-usuario id="marcoLogin" hidden={{estoyLogado}} on-eventologin="llamarCuentas"></login-usuario>


    <visor-cuentas id="marcoCuentas" hidden={{!estoyLogado}} idCliente="45" cierto="false"></visor-cuentas>
<!--
    <emisor-app id="hijoEmisor" on-mievento="procesar"></emisor-app>
    <receptor-app id="hijoReceptor"></receptor-app>
-->



  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoyLogado: {
            type: Boolean,
            value: false
          }
        };
      }

      llamarCuentas(e) {

        this.estoyLogado = true
        console.log("Llamando al marco de las cuentas")
        console.log(e)

        this.$.marcoCuentas.pintarCuentas(e)
      }



    }



    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
