<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/lib/elements/dom-if.html">

<dom-module id="receptor-app">
  <template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>


    <p>
      <h1>Soy el receptor</h1>
      <h2><I>Campo 1</I>: {{batman}}</h2>
      <h2><I>Campo 2: </I>{{robin}}</h2>

    </p>

  </template>

  <script>
    /**
     * `emisor-app`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ReceptorApp extends Polymer.Element {
      static get is() { return 'receptor-app'; }
      static get properties() {
        return {
          batman: {
            type: String,
          },
          robin: {
            type: String,
          },
          catwoman: {
            type: String,
          }
        };
      }


      // Este es método que va a disparar el evento
      mostrarDatos(datos){
        console.log(datos)
        this.batman = datos.curso
        this.robin = datos.anno
      }

    }

    window.customElements.define(ReceptorApp.is, ReceptorApp);
  </script>
</dom-module>
